.introduction {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.introduction-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.introduction-items p, .introduction-items h1 {
  text-align: end;
}

.introduction-items p {
  max-width: 60ch;
}

.introduction-items a {
  display: block;
  align-self: flex-end;
  text-transform: uppercase;
}

.introduction-progress ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.introduction-progress li {
  background-color: rgb(39, 17, 83, 0.3);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 10px 20px;
  width: 300px;
}

.introduction-progress li h2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.introduction-progress li::after {
  content: "";
  display: block;
  background-color: var(--color-btn);
  width: 100%;
  height: 5px;
  border-radius: 5px;
  animation: animateProgress 3s forwards;
}

.introduction-progress li.percentage::after {
  animation: animateProgressIncomplete 3s forwards;
}

.introduction-progress li:nth-child(even)::after {
  background-color: var(--color-primary);
}

@keyframes animateProgress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animateProgressIncomplete {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@media (max-width: 900px) {
  .introduction {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column-reverse;
    align-items: start;
    gap: 60px;
  }
  .introduction-progress ul {
    gap: 20px;
  }
  .introduction-items p, .introduction-items h1 {
    text-align: start;
  }
  .introduction-items a {
    align-self: flex-start;
  }
}